{% extends "character_editor.html" %}
{% block content %}
{{ super() }}
<script src="/static/character_editor_server_profiles.js"></script>
<script src="/static/character_editor_dense_ux.js"></script>
<script src="/static/character_editor_progression.js"></script>
<script src="/static/character_editor_bitset_edit.js"></script>
<script src="/static/character_editor_blue_spells.js"></script>
<script src="/static/character_editor_blue_spell_edit.js"></script>
<script src="/static/character_editor_spells.js"></script>
<script src="/static/character_editor_quests.js"></script>
<script src="/static/character_editor_assault.js"></script>
<script src="/static/character_editor_assault_edit.js"></script>
<script src="/static/character_editor_campaign.js"></script>
<script src="/static/character_editor_campaign_edit.js"></script>
<script src="/static/character_editor_eminence.js"></script>
<script src="/static/character_editor_eminence_edit.js"></script>
<script src="/static/character_editor_blacklist.js"></script>
<script src="/static/character_editor_inventory_manage.js"></script>
<script src="/static/character_editor_audit.js"></script>
<script src="/static/character_editor_lsb_admin.js"></script>
<script src="/static/character_editor_pet_runtime.js"></script>
<script src="/static/character_editor_merits.js"></script>
<script src="/static/character_editor_dense_modes.js"></script>
<script src="/static/character_editor_state_surface.js"></script>
<script src="/static/character_editor_usability.js"></script>
{% endblock %}
